.r{
	text-align:right!important;
}
.c{
	text-align:center!important;
}
.l{
	text-align:left!important;
}
.j{
	text-align:justify!important;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.clear{
	clear:both;
}
.cleaner{
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	float:none;
}
.hide{
	display:none;
}
.block{
	display:block;
}
.img-circle {
	.border-radius(50%);
}
// xart
nav.more{
	margin:0 0 20px;
	text-align: right;
	a{
		.btn;
		position: relative;
		height: 40px;
		line-height: 40px;
		padding: 0 30px;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
		&:before{
			.transition(0.2s);
			position: absolute;
			content: '';
			left: 100%;
			top: 0;
			border: 20px solid transparent;
			border-right: 0;
			border-left: 10px solid  #f12026;
		}
		&:hover{
			background: @color-primary;
			&:before{
				border-left-color: @color-primary;
			}
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	font-size: 14px;
	color: #74786c;
	th,td{
		padding:6px 8px;
		border:1px solid #ced4c1;
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: rgba(0,0,0,0.1);
	}
	th,thead td{
		font-weight: bold;
		color: #000;
		background: #d9d9d9!important;
	}
	tfoot td{
		background: #d9d9d9!important;
	}
	tr{
		th:first-child,td:first-child{
			border-left: 0;
		}
		th:last-child,td:last-child{
			border-right: 0;
		}
	}
	tr:first-child{
		th,td{
			border-top: 0;
		}
	}
	tr:last-child{
		th,td{
			border-bottom: 0;
		}
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	fieldset{
		position: relative;
		border: 0;
		background: #f0f0f0;
		padding: 20px 30px;
		margin: 60px 0;
		legend{
			position: absolute;
			top: -20px;
			left: 0;
			background: #f0f0f0;
			padding: 24px 30px 0 30px;
			margin: 0;
			font-size: 18px;
			line-height: 1;
		}
		.fieldset-icon{
			.border-radius(34px);
			position: absolute;
			top: -34px;
			right: 25px;
			width: 68px;
			height: 68px;
			line-height: 68px;
			font-size: 36px;
			text-align: center;
			color: @color-link;
			background: #f0f0f0;
		}
		input[type=text],input[type=email],input[type=password],textarea,select{
			background: #fff;
			border-bottom-color: #fff;
			border-left-color: #fff;
		}
		.submit{
			position: absolute;
			left: 30px;
			bottom: -20px;
			.normal-button{
				position: relative;
				height: 40px;
				padding: 0 35px;
				text-transform: uppercase;
				font-weight: bold;
				text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
				&:before{
					.transition(0.2s);
					position: absolute;
					content: '';
					left: 100%;
					top: 0;
					border: 20px solid transparent;
					border-right: 0;
					border-left: 10px solid  #f12026;
				}
				&:hover{
					&:before{
						border-left-color: @color-primary;
					}
				}
			}
		}
	}
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input[type=text],input[type=email],input[type=password],textarea,select{
		.box-shadow(inset -1px 1px 1px rgba(0,0,0,0.1));
		.transition(0.2s);
		position: relative;
		border: 1px solid #cdcdcd;
		font-size: 14px;
		line-height: 18px;
		margin: 0 3px 5px 0;
		width: 199px;
		height: 18px;
		padding: 5px 10px;
		color: @color-primary;
		background: lighten(@color-primary,97%);
		outline: 0;
	}
	input.input-mini{
		width:25px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	textarea{
		padding:10px;
		width:auto;
		height:auto;
	}
	select{
		width:auto;
		height:auto;
		padding:4px;
	}
	input[type=text]:hover,input[type=email]:hover,input[type=password]:hover,textarea:hover,select:hover,
	input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,textarea:focus,select:focus{
		border-color: lighten(@color-primary,50%);
	}
	.fileinputs{
		.clearfix;
		position:relative;
		overflow:hidden;
		display:inline-block;
		cursor:default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.input-file-text{
			float: left;
			margin-right: 0;
		}
	}
	.normal-button{
		.btn;
		padding: 0 20px;
	}
	a.normal-button{
		display:inline-block;
		text-decoration:none;
		line-height:28px;
	}
	.fileinputs:hover .normal-button,.normal-button:hover{
		.btn-hover;
	}
}
.search-results .highlight,.results .highlight{
	background: @color-link;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0;
	background: url(../images/bg/01.png) no-repeat top;
	a,span{
		.btn;
		padding: 0;
		width: 26px;
		height: 26px;
		line-height: 26px;
	}
	a:hover{
		.btn-hover;
	}
	span.pagenav{
		color: #fff;
		background: @color-link;
		.btn-hover;
	}
	.pagenav-ico{
		opacity: 0.5;
		-moz-opacity: 0.5;
		filter: alpha(opacity=50);
		cursor: default;
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 0 0 20px 0;
	height: 20px;
	overflow: hidden;
	background: url(../images/bg/01.png) no-repeat top;
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 15px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 15px;
}
a.xeditorpopup img{
	padding: 3px;
	border: 1px solid @color-link;
}
a.xeditorpopup:hover img{
	border-color: @color-primary;
}
.mod_breadcrumbs ul{
	.reset-ul;
	margin: 10px 0 37px;
	li{
		margin: 0 12px 0 0;
		padding: 0 0 0 16px;
		display: inline;
		font-size: 13px;
		line-height: 1;
		color: #000;
		&:before{
			top: 1px;
			font-size: 13px;
			content: '\e802';
			color: #c2c2c2;
		}
		a{
			color: #4d4d4d;
		}
		span{
			position: relative;
			display: inline-block;
			&:before{
				.font-icon;
				position: absolute;
				content: '\e802';
				left: -16px;
				top: -1px;
				font-size: 13px;
				color: @color-link;
				background: #fff;
			}
		}
	}
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 15px 0;
		border: 1px solid @color-primary;
		color: @color-primary;
		background: rgba(0,0,0,0.1);
		ul{
			.reset-ul;
			li{
				.reset-li;
			}
		}
	}
	.notice{
		border-color: @color-link;
		color: @color-link;
	}
	.warning,.error{
		border-color: @color-link;
		background-color: @color-link;
		color: #fff;
	}
}
