@import url('../fontello/css/pchelp-icons.css');
.font-primary{
	font-family: Tahoma,'Lucida Grande CE',lucida, sans-serif;
}
.font-header{
	font-family: Tahoma,'Lucida Grande CE',lucida, sans-serif;
}
.font-icon{
	font-family: 'pchelp-icons';
}
