.container{
	.clearfix;
	position: relative;
	width: 920px;
	padding: 0 20px;
	margin: auto;
	text-align: left;
}
#page-header{
	position: relative;
	z-index: 99;
	min-width: 960px;
	background: #fff;
	border-top: 8px solid @color-link;
	&:before{
		position: absolute;
		content: '';
		left: 50%;
		top: 100%;
		margin-left: -437px;
		width: 874px;
		height: 7px;
		background: url(../images/bg/01.png) no-repeat;
	}
	.logo{
		width: 220px;
		padding: 23px 0 18px;
		float: left;
		a{
			position: relative;
			display: block;
			padding: 38px 0 0 43px;
			color: @color-primary;
			text-decoration: none;
			font-size: 11px;
			line-height: 1.2;
			letter-spacing: 0.05em;
			background: url(../images/logo/01.png) no-repeat;
			overflow: hidden;
			span{
				position: absolute;
				left: -9999em;
			}
		}
	}
}
#col-middle{
	overflow: hidden;
	background: #2e2e2e;
}
#wrapper{
	padding: 63px 0;
	background: #fff;
}
#col-main{
	float: right;
	width: 640px;
}
#col-left{
	width: 200px;
	float: left;
}
#page-footer{
	position: relative;
	z-index: 1;
	padding: 47px 0;
	background: #e5e5e5;
	.copy{
		float: left;
		width: 680px;
		font-size: 12px;
	}
	.xart{
		float: right;
		width: 200px;
		text-align: right;
		text-transform: uppercase;
		font-size: 11px;
		a{
			text-decoration: none;
			color: @color-primary;
			&:hover{
				text-decoration: underline;
			}
		}
		img{
			float: right;
			margin: 0 -4px 0 9px;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		bottom: -60px;
		right: 20px;
		height: 48px;
		width: 48px;
		text-indent: -9999px;
		line-height: 48px;
		text-align: center;
		background: @color-primary;
		color: #fff;
		text-decoration: none;
		-webkit-opacity: 0.5;
		-moz-opacity: 0.5;
		opacity: 0.5;
		filter:alpha(opacity=50);
		&:before{
			.font-icon;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e803';
			font-size: 28px;
		}
		&:hover{
			-webkit-opacity: 0.8;
			-moz-opacity: 0.8;
			opacity: 0.8;
			filter:alpha(opacity=80);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}