html,button,input,select,textarea{
	.font-primary;
}
body{
	font-size: 16px;
	line-height: 1.4;
	text-align: center;
	font-weight: normal;
	color: @color-primary;
	background: #e5e5e5;
}
a{
	color: @color-link;
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
	margin: 40px 0 10px 0;
	line-height: 1.2;
	font-weight: normal;
}
h1{
	.font-header;
	font-size: 32px;
	color: @color-link;
	margin-top: 0;
	margin-bottom: 35px;
}
h2{
	.font-header;
	font-size:22px;
}
h3{
	.font-header;
	font-size: 17px;
}
h4{
	font-size:16px;
}
p{
	margin: 30px 0;
}
ul,ol{
	padding: 0;
	margin: 20px 0 20px 40px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom: 0;
}
ul>li{
	position: relative;
	list-style-type: none;
	padding: 0 0 0 40px;
	margin: 20px 0;
	font-size: 14px;
	&:before{
		.font-icon;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 27px;
		line-height: 1;
		content: '\e80b';
		color: @color-link;
	}
	&>ul{
		padding:10px 0;
	}
}
ol{
	list-style:decimal;
	&>li{
		margin:0 0 0 20px;
	}
	&>ol{
		padding: 10px 0;
	}
}
hr{
	margin: 30px 0;
	border:0;
	border-top:1px solid lighten(@color-primary,80%);
}
strong{
	font-weight:bold;
}
em{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align:baseline;
	font-size:60%;
	line-height:1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
blockquote{
	display: block;
	position: relative;
	color: #000;
	background: #f0f0f0;
	margin: 30px 0;
	padding: 0 20px 0 36px;
	border-top: 30px solid #f0f0f0;
	border-bottom: 30px solid #f0f0f0;
	font-size: 14px;
	&:before{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 10px;
		height: 100%;
		background: @color-link;
	}
	p{
		margin: 0;
	}
}
a{
	cursor:pointer;
	&:hover{
		text-decoration:none;
	}
}
