@font-face {
  font-family: 'pchelp-icons';
  src: url('../font/pchelp-icons.eot?65477701');
  src: url('../font/pchelp-icons.eot?65477701#iefix') format('embedded-opentype'),
       url('../font/pchelp-icons.woff?65477701') format('woff'),
       url('../font/pchelp-icons.ttf?65477701') format('truetype'),
       url('../font/pchelp-icons.svg?65477701#pchelp-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pchelp-icons';
    src: url('../font/pchelp-icons.svg?65477701#pchelp-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pchelp-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-down-open-big:before { content: '\e800'; } /* '' */
.icon-left-open-big:before { content: '\e801'; } /* '' */
.icon-right-open-big:before { content: '\e802'; } /* '' */
.icon-up-open-big:before { content: '\e803'; } /* '' */
.icon-shareable:before { content: '\e804'; } /* '' */
.icon-share:before { content: '\e805'; } /* '' */
.icon-network:before { content: '\e806'; } /* '' */
.icon-cc-by:before { content: '\e807'; } /* '' */
.icon-keyboard:before { content: '\e808'; } /* '' */
.icon-down-circled:before { content: '\e809'; } /* '' */
.icon-left-circled:before { content: '\e80a'; } /* '' */
.icon-right-circled:before { content: '\e80b'; } /* '' */
.icon-up-circled:before { content: '\e80c'; } /* '' */
.icon-paper-plane:before { content: '\e80d'; } /* '' */