
.icon-down-open-big:before { content: '\e800'; } /* '' */
.icon-left-open-big:before { content: '\e801'; } /* '' */
.icon-right-open-big:before { content: '\e802'; } /* '' */
.icon-up-open-big:before { content: '\e803'; } /* '' */
.icon-shareable:before { content: '\e804'; } /* '' */
.icon-share:before { content: '\e805'; } /* '' */
.icon-network:before { content: '\e806'; } /* '' */
.icon-cc-by:before { content: '\e807'; } /* '' */
.icon-keyboard:before { content: '\e808'; } /* '' */
.icon-down-circled:before { content: '\e809'; } /* '' */
.icon-left-circled:before { content: '\e80a'; } /* '' */
.icon-right-circled:before { content: '\e80b'; } /* '' */
.icon-up-circled:before { content: '\e80c'; } /* '' */
.icon-paper-plane:before { content: '\e80d'; } /* '' */